<footer class="bg-dark text-center">
  <div class="container-fluid">
    &copy; All rights reserved. Femees Kunjumoideen
  </div>
</footer>

<!-- Page Scripts Section  -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>
</body>

</html>