<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>  - Femees Kunjumoideen </title>

  <!-- page Stylesheets  -->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/content/app.css' />

</head>

<body class="<%= slug %>">
  <header>
    <div class="container">
      <div class="logo">
        <a href="/home">
          <img class="img-responsive" src="/assets/images/typo_logo.png" alt="Femees Logo">
        </a>
      </div>
      <div class="social-media">
        <ul>
          <li><a href="https://www.linkedin.com/in/femees-m-k-5110b426/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/FEMEESMK" target="_blank"><i class="fab fa-twitter"></i></i></a></li>
          <li><a href="https://github.com/femeesmk" target="_blank"> <i class="fab fa-github"></i></a></li>
        </ul>
      </div>

      <%- include main_nav.ejs %>

    </div>
  </header>