
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron"  style="background-image: url('/assets/images/home-banner-bg.jpg'); background-size: cover; background-color: #E8E9ED; ">
    
    <h1 class="display-4">Creative Services</h1>
    <p class="lead sub-heading">My name is Femees. I m in Toronto, Ontario. I provide creative service </p>
    <hr class="my-4">
    <p> write something here! </p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">about me!</a>
  </div>
</main>

<%- include partials/footer.ejs %>