
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Discover the works!</p>
    <hr class="my-4">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img src="/assets/images/portfolio-one.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Welcome Sign</h5>
            <p class="card-text">Personalized welcome signs that can be used for home/shops.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="/assets/images/portfolio-two.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Package Design</h5>
            <p class="card-text">Innovative and Unique package design for perfume brand.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="/assets/images/portfolio-three.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">UX Wireframe Development</h5>
            <p class="card-text">Working on the developement of an ejs- protfolio website.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="/assets/images/portfolio-four.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Website Development</h5>
            <p class="card-text">Personalised website  design for blogging.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>