
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead"> Services I provide</p>
    <div class="row service-lists">
      <div class="container">
        <div class="card border-0">
          <div class="row no-gutters service-items">
            <div class="col-md-4">
              <img src="/assets/images/service-one.jpg" class="card-img" alt="service">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Web Development and Design</h5>
                <p class="card-text">Latest and user friendly website designs with the most creative ideas. Assistance for both personal and business websites.</p>
              </div>
            </div>
          </div>
        </div>
        <br class="my-2">
        <div class="card border-0">
          <div class="row no-gutters service-items">
            <div class="col-md-4">
              <img src="/assets/images/service-two.jpg" class="card-img" alt="service">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Logos and Illustrations </h5>
                <p class="card-text">Offering 100% original and conceptual logo design solutions for personal and business purpose. Ensuring minimalistic and modern design.</p>
              </div>
            </div>
          </div>
        </div>
        <br class="my-2">
        <div class="card border-0">
          <div class="row no-gutters service-items">
            <div class="col-md-4">
              <img src="/assets/images/service-three.jpg" class="card-img" alt="service">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sign Board Designs</h5>
                <p class="card-text">Clean and modern high quality designs for signboards. Turning your ideas into awesome designs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <hr class="my-4">
    <p class="lead">If you want my services feel free to get in touch with me!</p>
    <a href="/contact" class="btn btn-primary">Hire Me!</a>
  </div>
</main>

<%- include partials/footer.ejs %>