
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron"  style="background-image: url('/assets/images/home-banner-bg.jpg'); background-size: cover; background-color: #E8E9ED; ">
    
    <h1 class="display-4">Creative Services</h1>
    <p class="lead sub-heading">My name is Femees. I live in Toronto, Ontario. I provide creative services</p>
    <hr class="my-4">
    <p> To positively impact the life of every person I meet. </p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">About me!</a>
  </div>
</main>

<%- include partials/footer.ejs %>