/* Header styles */
header {
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.logo {
  text-align: center;
}

.logo img {
  max-width: 200px;
}

/* social media icon */
.social-media ul {
  padding-left: 0;
  text-align: center;
  padding-top: 20px;
}
.social-media ul li a i {
  font-size: 22px;
}
.social-media ul li {
  display: inline-block;
  padding: 8px;
}
.social-media ul li a {
  color: #8D99AE;
}

.social-media ul li a:hover {
  color: #f2545b;
}

/* main navigation styles  */
.main-navigation {
  margin-top: 35px;
}
.main-navigation ul li {
  text-transform: uppercase;
  padding: 0 15px;
  
}
.main-navigation .navbar-nav .nav-link {
  color: #1b343f;
  font-size: 1.2em;
}
.main-navigation .navbar-nav .nav-link.active {
  color: #f2545b;
}

/* content styles */
.jumbotron {
  background-color: transparent;
}
.jumbotron h1 {
  color: #2B3A67;
  font-weight: 600;
}
.jumbotron h5 {
  color: #EF6F6C;
  font-weight: 700;
}
.jumbotron .sub-heading {
  color: #5B6C5D;
  font-size: 22px;
  font-weight: 600;
}

.home .jumbotron .sub-heading, .home .jumbotron .sub-heading p {
  color: #1b343f;
}

.contact .jumbotron .sub-heading {
  color: #5B6C5D;
  font-size: 20px;
  font-weight: 500;
}

.contact .jumbotron .sub-heading .name {
  font-weight: 600;
  font-size: 22px;  
}

.contact .jumbotron .sub-heading i {
  color: #f2545b;
  margin-right: 10px;
}

/* footer styles */ 
footer {
  padding: 20px 0;
  margin-top: 25px;
  color: #E8E9ED;
  font-size: 14px;
}