/** common styles */
.btn .fa, .btn .fas {
  padding-right: 4px;
}

/* Header styles */
header {
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.logo {
  text-align: center;
}

.logo img {
  max-width: 200px;
}

/* social media icon */
.social-media ul {
  padding-left: 0;
  text-align: center;
  padding-top: 20px;
}
.social-media ul li a i {
  font-size: 22px;
}
.social-media ul li {
  display: inline-block;
  padding: 8px;
}
.social-media ul li a {
  color: #8d99ae;
}

.social-media ul li a:hover {
  color: #f2545b;
}

/* main navigation styles  */
.main-navigation {
  margin-top: 35px;
}
.main-navigation ul li {
  text-transform: uppercase;
  padding: 0 15px;
}
.main-navigation .navbar-nav .nav-link {
  color: #1b343f;
  font-size: 1.2em;
}
.main-navigation .navbar-nav .nav-link.active {
  color: #f2545b;
}

/* content styles */
.jumbotron {
  background-color: transparent;
}
.jumbotron h1 {
  color: #2b3a67;
  font-weight: 600;
}
.jumbotron h5 {
  color: #ef6f6c;
  font-weight: 700;
}
.jumbotron .sub-heading {
  color: #5b6c5d;
  font-size: 22px;
  font-weight: 600;
}
/* home page styles */
.home .jumbotron .sub-heading,
.home .jumbotron .sub-heading p {
  color: #1b343f;
}

/* contact page styles */
.contact .jumbotron .sub-heading {
  color: #5b6c5d;
  font-size: 20px;
  font-weight: 500;
}

.contact .jumbotron .sub-heading .name {
  font-weight: 600;
  font-size: 22px;
}

.contact .jumbotron .sub-heading i {
  color: #f2545b;
  margin-right: 10px;
}

/* footer styles */
footer {
  padding: 20px 0;
  margin-top: 25px;
  color: #e8e9ed;
  font-size: 14px;
}


/* contact list page */
.contact-lists .contact-list-item a {
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.manage-contact {
  padding: 0 20px;
}

/* contact creation page  */
.contact-creation .form-group label {
  font-weight: 500;
  font-size: 1.2em;
}

.contact-creation .form-buttons {
  padding-top: 10px;
  margin-top: 15px;
}

.contact-creation .form-buttons .btn {
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
